/*@alert info style*/
.c_correct,.c_warning,.c_error,.c_correct_f,.c_warning_f,.c_error_f,.c_alert_f
	{
	min-height: 24px !important;
	max-height: 48px !important;
	_height: 48px !important;
	line-height: 24px;
	vertical-align: middle;
	padding: 0px 20px !important;
	margin: 5px 10px !important;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: left !important;
	text-indent: 2px !important;
	background-image: url(icons.png);
	background-repeat: no-repeat;
	clear: both;
	overflow: hidden;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;
	top: 5px;
	position: absolute;
}

.c_correct,.c_correct_f {
	border-color: #1EB51B;
	color: #1EB51B;
	background-color: #E6FFEB;
	background-position: 3px -22px;
}

.c_warning,.c_warning_f {
	border-color: #D8B62B;
	color: #333; /*D8B62B*/
	background-color: #FFFF80;
	background-position: 3px -72px;
}

.c_error,.c_error_f {
	border-color: #F30;
	color: #F30;
	background-color: #FFD0D0;
	background-position: 3px -120px;
}

.c_correct_f,.c_warning_f,.c_error_f,.c_alert_f {
	padding: 0px 20px !important;
	position: fixed;
	/*left: 25%;*/
	z-index: 4294967290; /*9999999999999*/
	outline: 1px solid #FFF;
}

.c_alert_f {
	border-color: #A6C9E2;
	color: #2E6E9E;
	background-color: #DBF1FD;
	background-position: 3px -169px;
}

.c_border_correct {
	border-color: #1EB51B !important;
}

.c_border_warning {
	border-color: #D8B62B !important;
}

.c_border_error {
	border-color: #F30 !important;
}

.c_comm {
	border: 2px solid #1EB51B;
	color: #1EB51B;
	background-color: #E6FFEB;
	margin: 4px;
	padding: 2px;
	text-align: left;
}
/*#alert info style*/

/*@cover layer*/
#itsai-layer {
	background-color: #aaa;
	filter: alpha(opacity = 50);
	opacity: 0.5;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: center;
	vertical-align: middle;
	clear: borth;
	overflow: hidden;
	position: absolute;
}

#itsai-layer span {
	position: relative;
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
}

.itsai-mask {
	background-color: #aaa;
	filter: alpha(opacity = 50);
	opacity: 0.5;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	clear: borth;
	overflow: hidden;
	cursor: not-allowed;
}

.itsai-mask div {
	position: relative;
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 12px;
	text-shadow: 1px 1px 1px #000;
}
/*#cover layer*/

/*正确/错误样式*/
.error_input {
	border: 1px solid #F30;
	background-color: #FFD0D0;
}

.alert_ok {
	color: #149617;
}

.alert_status {
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #F60;
	padding: 5px 2px 3px 22px;
	background-color: #FFD0D0;
	background-image: url(../image/n.gif);
	background-repeat: no-repeat;
}

.right_innput {
	border: 1px solid #016920;
	background-color: #E6FFEB;
}

.error_border {
	border: 1px solid #F00;
}

.input_border {
	border: 1px solid #999;
}

.wait {
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
	border: 1px solid #CCC;
	padding: 5px 2px 3px 22px;
	background-color: #EBEBEB;
	background-image: url(loading.gif);
	background-repeat: no-repeat;
}
/*正确/错误样式 end*/
.req {
	color: #F00;
	font-weight: bold;
}

.red {
	color: #F60;
	font-weight: bold;
}
/*@corner*/
.c_corner_all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.c_corner_top {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.c_corner_buttom {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
/*#corner*/
.loading {
	background-image: url(loading.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 20px;
	margin: 0px auto;
	border: none;
}